<div class="form-container">
    <h1>Welcome</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Email">
    <span *ngIf="loginForm.get('email')?.errors?.['required']">Se requiere el correo</span>
    <span *ngIf="loginForm.get('email')?.errors?.['email']">Formato de correo electronico no valido</span>
    <input type="password" formControlName="password" placeholder="Password">
    <span *ngIf="loginForm.get('password')?.errors?.['required']">Se requiere la contraseña</span>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  </div>